.listItem {
    display: flex;
    color: black;
    justify-content: space-between;
    text-decoration: none;
    padding: 2rem 1rem 2rem 2rem;
    border-bottom: 1px solid #eeeeee;
    transition: all 0.5s ease-in;
    position: relative;

    &:hover {
        background-color: #f5f5f5;
    }

    .typeName {

        h3 {
            margin: 0 0 1rem 0;
        }
        span {
            color: #6b6b6b;
            margin: 0;
        }

    }

    .endCol {
        display: flex;
        justify-content: space-between;

        .dueOn {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            text-align: right;

            .amount {
                font-weight: 700;
                margin-bottom: 1rem;
            }

        }

        .removeItemCol {
            display: flex;
            align-items: center;
            margin-left: 2rem;

            button {
                background-color: transparent;
                border: 0;
                color: #970000;
                
                svg {
                    font-size: 1.9rem;
                }
            
            }
            
        }

    }

    &:last-child {
        border-bottom: 0;
    }

}