.dimmer {
    background: transparent;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
}
.monthPicker {
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    position: absolute;
    border: 1px solid #ececec;
    z-index: 98;
    width: 300px;
    height: 25.28%;
    right: 26%;
    top: 30%;
    box-shadow: -1rem 0.5rem 2rem rgba(0, 0, 0, 0.16);

    .headerPicker {
        background-color: darken(white, 3%);
        border-bottom: 1px solid rgb(233, 233, 233);
        padding: 1rem 2rem;

        .title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.8rem;
            margin: 0;

            .yearLabel {
                font-size: 1.7rem;
            }

            .press {
                cursor: pointer;
            }

        }

    }

    .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        width: 100%;
        height: 80%;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;

        .month {
            align-items: center;
            background-color: blue;
            border: 1px solid #eaeaea;
            cursor: pointer;
            display: flex;
            font-size: 2rem;
            padding: 20px;

            span {
                color: #404040;
                margin: auto;
                font-size: 1.4rem;
            }

            &:hover {
                background-color: darken(white, 5%);
            }

            &:nth-child(10){
                border-bottom-left-radius: 8px;
            }
            
            &:nth-child(12){
                border-bottom-right-radius: 8px;
            }

        }

        .disabled{
            background-color: #f3f3f3;
            cursor: default;

            span {
                color: #404040;
                margin: auto;
                font-size: 1.4rem;
            }
            &:hover {                
                background-color: #f3f3f3;
            }

        }

    }

}