
.expenseList {
    border: 1px solid #eeeeee;

    .expenseListHeader {
        background-color: #F9F8F9;
        border-bottom: 1px solid #eeeeee;
        color: #5A5A5A;
        display: flex;
        justify-content: space-between;
        padding: 2rem 7.5rem 2rem 2rem;
    }

    .listData {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 438px;
    }

    .showNoData {
        align-items: center;
        display: flex;
        justify-content: center;
        height: 390px;
        font-size: 2rem;
        background-color: #efefef;
    }

}