@import '../../styles/mediaQueries.scss';

.expenseForm {
    width: 25%;

    form {
        display: flex;
        flex-direction: column;

        input {
            border: 1px solid #cccccc;
            border-radius: 4px;
            margin-bottom: 2rem;
            height: 10px;
            padding: 1rem;
        }

        textarea {
            border: 1px solid #cccccc;
            border-radius: 4px;
            padding: 1rem;
        }

        button {
            border: 1px solid #cccccc;
            border-radius: 4px;
            margin-top: 1rem;
            padding: 1rem;
        }
    }
}

.SingleDatePickerInput {
    border: 0;
}

@include media(">phone", "<tablet") {

    .expenseForm {
        width: 100%;
    }

}
@include media(">tablet", "<desktop") {

    .expenseForm {
        width: 70%;
    }

}
@include media(">desktop","<=1360px") {

    .expenseForm {
        width: 46%;
    }

}

@include media(">=1360px") {

    .expenseForm {
        width: 26%;
    }

}