.pageHeader {
    background-color: #F9F8F9;
    border-bottom: 1px solid #eeeeee;
    margin: 0 0 4rem 0;
    height: 17rem;

    .container {
        padding: 9rem 0;

        .title {
            font-size: 2.4rem;
            font-weight: 700;
            padding: 1.7rem 0 2rem;
        }

    }

}