.filterList {
    display: flex;
    padding: 6rem 0 0 0;
    justify-content: space-between;

    .filterInputs {
        display: flex;
        justify-content: flex-start;

        .descBox {
            display: flex;
            flex-direction: column;

            label {
                margin-bottom: 1rem;
            }
            
        }

        .fieldPickers {
            display: flex;
            margin-top: 2.79rem;
        }

    }

    .historyFilter {
        padding-top: 3rem;
    }

}

.DateRangePickerInput_clearDates {
    top: 35%;
}