@import '../../styles/base/settings';
.dimmer {
  background-color: #0000003b;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;

  .modal {
    background: white;
    border: 1px solid #ccc;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: 1.1s ease-in-out;
    box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
    filter: blur(0);
    transform: scale(1);  
    opacity: 1; 
    position: absolute;
    left: 39%;
    top: 45%;
    width: 500px;
    z-index: 99;
    
    &.off {
      opacity: 0;
      filter: blur(8px);
      transform: scale(0.33);
      box-shadow: 1rem 0 0 rgba(black, 0.2);
    }

    h2 {
      border-bottom: 1px solid #ccc;
      color: #212121;
      font-size: 1.8rem;
      margin: 0;
      padding: 1.2rem 2rem;
    }

    .content {
        padding: 2rem 2rem;
    }

    .actions {
      display: flex;
      justify-content: flex-end;
      border-top: 1px solid #ccc;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      background: #eee;
      padding: 0.5rem;

      button {
        border: 0;
        background: $color-primaryButton;
        border-radius: 5px;
        color: whitesmoke;
        padding: 1rem 2rem;
        font-size: 1.3rem;
        line-height: 1;
        margin-right: 1rem;

        &:hover {
          background-color: darken($color-primaryButton, 10%);
        }

        &:active {
          background-color: lighten($color-primaryButton, 10%);
        }

        &:last-child {
          margin-right: 0;
          background: $color-altButton;
                
          &:hover {
            background-color: darken($color-altButton, 10%);
          }

          &:active {
            background-color: lighten($color-altButton, 10%);
          }

        }

      }

    }

  }
}

#centered-toggle-button {
  position: absolute;
}