.summary {
    background-color: #F9F8F9;
    border-bottom: 1px solid #eeeeee;
    position: relative;

    .content {
        display: flex;
        justify-content: space-between;
        padding: 13rem 0 0rem;

        .columnLeft {
            display: flex;
            flex-direction: column;
            width: 75%;

            .summaryTitle {
                margin: 0 0 2rem;
                font-size: 1.7em;
                font-weight: 300;
    
                span {
                    font-weight: 700;
                }
    
            }
    
            .actions {
                margin: 2rem 0;
            }

        }

        .columnRight {
            display: flex;
            justify-content: space-between;
            width: 16%;

            .amount {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                h3 {
                    margin-bottom: 1rem;
                }
            
                span {
                    color: rgb(70, 209, 51);
                    font-size: 2rem;
                    font-weight: 700;
                }

                &:last-child {

                    h3 {
                        margin-bottom: 1rem;
                    }                
                    .balanceDebt {
                        color: red;
                    }
                    
                    .balanceNormal {
                        color: black;
                    }
                }

            }

            
        }        

    }

}

.incomeContent {
    display: flex;
    flex-direction: column;

    input {
        margin-bottom: 0;
    }

}

.incomeContent {
    display: flex;
    flex-direction: column;
}