header {
    background-color: #2C364A;
    position: fixed;
    width: 100%;
    z-index: 1;

    .container {
        display: flex;
        justify-content: space-between;

        a {
            text-decoration: none;
            
            h1 {
                color: whitesmoke;
                padding: 2rem 0 0;
            }

        }

        nav {
            display: flex;
            justify-content: space-between;
            width: 16%;
        }

        .userDetails {

            span {
                color: whitesmoke;
                margin-right: 3rem;
            }

            img {
                border-radius: 50%;
                width: 34px;
                position: relative;
                top: 9px;
                right: 10px;
            }
            
            .logoutBtn {
                background-color: transparent;
                // border: 1px solid #cccccc56;
                border: 0;
                border-radius: 4px;
                color: whitesmoke;
                height: 50px;
                margin-top: 3.5rem;
                opacity: 1;
                padding-left: 1rem;
                transition: all 0.3s ease-in-out;
    
                svg {
                    padding-left: 1rem;
                }
    
                &:hover {
                    opacity: 0.5;
                }
    
            }

        }        
        
    }

}