.toasts-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 100%;
    height: 14%;
    background-color: transparent;
}

.toast {
    border: 2px solid transparent;
    background-color: #6495ED;
    border-radius: 4px;
    color: whitesmoke;
    max-width: 480px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    display: flex;
    position: relative;
    cursor: pointer;
    margin: 0 auto;
}

.toast__text {
    padding: 16px 24px;
    line-height: 1.4;
}

.toast__close-btn {
    border: none;
    background-color: transparent;
    font-size: 16px;
    margin-top: 8px;
    margin-right: 8px;
    cursor: pointer;
}
