@import '../mediaQueries.scss';
@import './_settings.scss';

html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
}

* {
  outline: 0;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.app {
  height: 100vh;
  position: relative;
  top: -21px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

footer {
  width: 90% !important;
  height: 0;
  text-align: right;
  position: absolute;
  bottom: 8%;

  span {
    color: black;
    font-size: 1.4rem;
  }

}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

.errorMessageBox {
  border: 1px solid red;
  border-radius: 4px;
  background-color: rgba(255, 0, 0, 0.527);
  color: $color-TextButton;
  margin-top: 1rem;
  padding: 0.5rem 1rem;

  p {
    margin: 0;
  }
  
}

.errorInput {
  background: #fff6f6;
  border-color: #e0b4b4;
  color: #9f3a38;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.DateRangePickerInput_arrow_svg {
  width: 54px;
}

.formControl {
  border: 1px solid #cccccc;
  // border-radius: 4px;
  margin-bottom: 2rem;
  height: 26px;
  padding: 1rem;
  margin-right: 1rem;
}

select {  
  height: 48px !important;
}

.btn {
  background-color: $color-primaryButton;
  padding: 1.5rem 2rem;
  border-radius: 4px;
  text-decoration: none;
  color: $color-TextButton;
  font-weight: 700;
  transition: all 0.3s ease-in;

  &:hover {
    background-color: darken($color-primaryButton, 10%);
  }

  &:active {
    background-color: lighten($color-primaryButton, 10%);
  }

}

.btn-green {
  background-color: $color-alt2Button;
  border: 0;
  margin-left: 1rem;

  &:hover {
    background-color: darken($color-alt2Button, 10%);
  }

  &:active {
    background-color: lighten($color-alt2Button, 10%);
  }
}


@include media(">phone", "<desktop") {
  
  footer {
    display: none;
  }

}
