// Colors
$color-primaryButton: cornflowerblue;
$color-altButton: #e24343;
$color-alt2Button: rgb(70, 209, 51);
$color-TextButton: white;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;