.loginScreen {
    background-image: url(/assets/background.jpg);
    background-size: cover;
    width: 100vw;
    height: 102vh;
    overflow: hidden;

    .wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100vh;

        .left {

        }

        .right {
            position: relative;
            background-color: whitesmoke;
            height: 100vh;
            margin-top: 2rem;
            width: 30%;
            z-index: 0;

            .signInErrorBox {
                position: absolute;
                top: 17%;
                left: 14%;
                width: 70%;
                z-index: 1;
                color: red;
            }

            .signinWrapper {                
                height: 20rem;
                width: 70%;
                position: relative;
                padding: 10rem;
                top: 24%;
            
                .authUser {
                    border: 1px solid #cccccc;
                    border-radius: 5px;
                    padding: 2rem 1.6rem;

                    form {
                        display: flex;
                        flex-direction: column;

                        .formControl {
                            margin-right: 0;
                        }
                        
                        button {
                            background-color: #6435c9;
                            border: 0;
                            border-radius: 4px;
                            color: #fff;
                            text-shadow: none;
                            background-image: none;
                            padding: 1.4rem;

                            &:hover {
                                background-color: #5829bb;
                                color: #fff;
                                text-shadow: none;
                            }

                        }

                    }

                }

                .registerBox {
                    border: 1px solid #cccccc;
                    border-radius: 5px;
                    margin-top: 2rem;
                    padding: 1.2rem 1.6rem;

                    .link {
                        font-size: 1.4rem;
                        color: rgb(68, 118, 212);

                        &:hover {
                            color: darken(cornflowerblue, 10%);
                            cursor: pointer;
                        }

                    }
                }
            
            }

        }
    
    }

}